VITE_API_BASE_URL=https://paraiba-hot-dog-back.onrender.com
VITE_API_URL=https://paraiba-hot-dog-back.onrender.com
VITE_AUTH_PROVIDER=keycloak
VITE_KEYCLOAK_URL=https://paraiba-hot-dog-back-1.onrender.com
VITE_KEYCLOAK_REALM=paraiba-hotdog
VITE_KEYCLOAK_CLIENT_ID=paraiba-hotdog-api
